@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    overflow: hidden;
}

html,
body {
    font-family: 'Hanken Grotesk', Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background-color: var(--powder-900);
    outline: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: var(--powder-50);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    cursor: url(src/Cursors/cursor.svg), default;
}

.main-container {
    font-family: 'Hanken Grotesk', Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background-color: var(--powder-900);
    outline: none;
    margin: 0;
    overflow: hidden;
    color: var(--powder-50);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    cursor: url(src/Cursors/cursor.svg), default;
}

#main-logo-button {
    height: 55px;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.03)) drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.02)) drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.01));

    transition: transform 0.25s cubic-bezier(0.34, 2, 0.64, 2),
        filter 0.25s cubic-bezier(0.34, 2, 0.64, 2);
}

#main-logo-button:hover {
    filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.07)) drop-shadow(0px 0px 12px rgba(255, 255, 255, 0.05)) drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.03));
    transform: scale(105%);
}

#main-logo-button:active {
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.03)) drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.02)) drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.01));
    transform: scale(97%);
}

p {
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h1 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.9rem;
    letter-spacing: -0.02em;
    margin: 0;
    padding: 0;
}

h1:focus {
    outline: none;
}

h2 {
    font-weight: 800;
    font-size: 1.8rem;
    letter-spacing: -0.02em;
}

h3 {
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: -0.02em;
}

b {
    font-weight: 800;
    -webkit-text-stroke: 0.4px currentColor;
}